.tab {
  border: 1px solid #000;
  border-radius: 8px 8px 0 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  list-style: none;
  padding: 4px 12px 0;
}

.tab:focus {
  background-color: aqua;
}

.tab__link {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

.tab__button {
  background-color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}
